#projetos {
    margin-top: -55px;
}

.section-head h2{
    font-size: 1.6rem;
    font-weight: 600;
}

.section-head p {
    font-size: 1rem;
    font-weight: 400;
}

.grid {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}